body {
    max-width : 1400px;
    box-sizing: border-box;
    margin : 0px 80px 0px 80px;
    font-family: "Poppins";
}

#bgimg {
    background-image : url('../Images/stylehero1.png');
    background-repeat: no-repeat;
    background-size : 100%;
}

#navbar {
    display : flex;
    padding-top : 15px;

}

#cont-nav {
    margin : 0px 0px 0px auto;
}

#navbar a {
    text-decoration: none;
    color : #142433;
    padding-left : 30px;
    margin-right : 20px;
}

#navbar a:hover {
    color : #516373;
}

#hero {
    position: relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
}

#heading-1 {
    color : #142433;
    font-size : 35px;
    
}

#heading-p {
    color : #516373;
    font-size : 17px;
}

#btn {
    color : white;
    background-color : #101C26;
    padding : 11px 20px 13px 20px;
    border : none;
    border-radius : 20px;
}

#btn:hover {
    cursor : pointer;
}

.heading-2 {
    text-align : center;
    margin : 50px 0px 25px 0px;
}

#collection {
    display : flex;
    flex-wrap : wrap;
    justify-content : space-between;
}

.prod {
    margin-top : 20px;
    border-radius : 20px;
    border : solid 1px #8697A6;
    margin-top : 30px;
    display : flex;
    flex-direction : column;
}

.desc {
    background-color : #F6F7FB;
    text-align : center;
    border-bottom-left-radius : 20px;
    border-bottom-right-radius : 20px;
    border : none;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
}

.img-id {
    max-height: fit-content;
}

.desc-name {
    color : #142433;
    font-size : 20px;
    font-weight : bold;
    margin-top : 15px;
    margin-bottom : -10px;
    
}

.desc-price {
    margin-bottom : 0px;
    color : #516373;
}

#serv {
    display : flex;
    justify-content: space-between;
    gap : 30px;
    
}

.serv-1 {
    background-color: #F6F7FB;
    padding-top : 20px;
    padding-left : 10px;
}

.serv-tag {
    font-size : 20px;
    font-weight : bold;
}

.serv-desc {
    word-wrap: wrap;
    max-width : 95%;
    color : #516373;
}

#footer {
    background-color: #DCE8F2;
    margin-top : 80px;
}

#foot-mesg {
    display : flex;
    justify-content: center;
    padding-top : 60px;
    
}

.foot-content {
    margin-right : -120px;
}

.foot-content p {
    max-width : 70%;
    word-wrap : wrap;
}

#foot-mesg h3 {
    color : #142433;
}

#foot-mesg p {
    color : #516373;
}

#copy {
    text-align : center;
    color : #142433;
    padding-bottom : 60px;
    padding-top : 20px;
}



